@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

*{
    border-radius: 15px;
    margin:0;
    padding: 0;
}

body{
    background-color:black
}
div#content{
    max-width: 300px;
    color: white;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
}
header{
    background-color: white;
}
main{
    background-color: white;
    color: black;
}
footer{
    background-color:grey ;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1px;
    text-align: center;
}
footer div{
    background-color: rgb(76, 76, 199);
    padding-top: 0.25em;
}